@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Odibee+Sans&display=swap');


* {
  margin: 0;
  padding: 0;
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  font-family: 'Koulen', cursive;
  background-color: rgb(184, 180, 180) ;
  box-shadow: 0px 2px 15px 0px rgb(12, 12, 12);
  font-size: 2rem;
  
  
  
  
}
.escudo{
  width: 7rem;
  
}


#corpo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 10rem 0 10rem;
  flex-wrap: wrap;
  font-family: 'Bebas Neue', cursive;
  
  
  
}

#state {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  padding: 1rem 0 1rem 0 ;
}

#stateText{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem
}

#luisState{
  font-size: 2rem;
}


#myBtn {
  margin-top: 5rem;
  border-width: 20%;
  border-color: #0c0c0c;
  padding: 0.2rem;
  cursor: pointer;
  width: 10rem;
  height: 2rem;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 1000;
 
  transition: 0.2s;
  background-color: rgb(117, 115, 115);
  color: black;
  font-family: 'Bebas Neue', cursive;
}

#myBtn:hover {
  border-color: #bbb;
  color: #bbb;
  background: black;
  
 
  
}

#borderPic{
  padding: .3%;
  background-color: #0c0c0c;
  box-shadow: 1px 10px 15px 2px rgb(12, 12, 12);
}


#picSec {
  display: flex;
  padding: 1.2rem;
  
  background-color: rgb(184, 180, 180);
  
  
  
  
  
}

#changePic {
  width: 13rem;
  background-color: #0c0c0c;
  padding: 1%;
  
  
}

footer {
  padding: 0;
  margin: 3.5rem 0 0 1rem;
  position: relative;
  bottom: 0;
  left: 0;
}
